<div class="row " style="min-height:100vh;">
	<div class="small-6 large-centered columns text-center" >
		<br>
		<br>
		<br>		<br>
		<br>
		<br>

		<%= image_tag 'logo.png', size:"174x68", class: "float-center" %>
		<br>
		<br>
		<br>
		<h4> Наш сайт трансформируется, подождите немножко</h4>

	</div>
</div>
