<div class="row menu_container">
	<div class="large-12 medium-12 small-12 text-center column menu_three blog">
		<%= link_to 'Вы блоггер?', blogger_index_path%>
	</div>
	<div class="large-12 medium-12 small-12 text-center column menu_three store">
		<%= link_to 'Наш магазин', store_index_path%>
	</div>
	<div class="large-12 medium-12 small-12 text-center column menu_three individ">
		<%= link_to 'Товары на заказ'%>
	</div>
</div>