<% content_for :title, "Купить или создать футболки, свитшоты, толстовки и худи" %>   
<div class="row menu_container" style="font-family: 'Playfair Display SC', serif;">
	<div class="large-10 medium-12 small-12 large-centered text-left column menu_three blog">
		<%= link_to 'ДЛЯ БЛОГГЕРОВ', blogger_index_path%>
	</div>
	<div class="large-10 medium-12 small-12 large-centered text-left column menu_three store">
		<%= link_to 'ДЛЯ ПОКУПАТЕЛЕЙ', store_index_path%>
	</div>
	<div class="large-10 medium-12 small-12 large-centered text-left column menu_three individ">
		<%= link_to ('ИНДИВИДУАЛЬНЫЕ<br>ЗАКАЗЫ').html_safe, support_blog_path %>
	</div>
	<div class="column">
	</div>
</div>