<div class="row">
	<nav role="navigation">
	  <ul id="menu" class="overlay-menu landing">
	    <li><%= link_to 'Вы блоггер?', blogger_index_path %></li>
	    <li><%= link_to 'Наш магазин', store_index_path %></li>
	    <li><a href="#">Товары на заказ</a></li>
	  </ul>
	</nav> 
</div>