<div class="row">
  <div class="small-8 medium-6 large-5 small-centered columns">

    <div class="header panel">
      <div class="sign">
        <h1>Спасибо за заказ</h1>
      </div>
      <p><span>Уважаемый клиент!</span> Спасибо за заказ на нашем ресурсе.</p>
    </div>
  
  </div>
</div>