<% javascript_include_tag "https://widget.cloudpayments.ru/bundles/cloudpayments" %>
<div class="form-container medium-centered small-10 small-centered medium-6 large-4 columns">
<br>
<h3>Оформление заказа</h3>
<br>
<%= render 'form' %>
</div>


<%= javascript_tag do %>
  
  var payHandler = function () {

    
        var widget = new cp.CloudPayments();
        widget.charge({ // options
                publicId: 'pk_2cdd5b0bd7978802123946d757d4f',
                description: 'Оплата в teelab.ru',
                amount: <%= @cart.total_price %>, //сумма
                currency: 'RUB',
                invoiceId: '<%= @order_clientid %>', //номер заказа

            },
            function (options) { 
              $("#new_order").submit();
            },
            function (reason, options) { 
            });
    };

    $("#sb").on("click", function() {
        if ($("#new_order").valid()) {
            payHandler();
        }

});

    

<% end %>
