
<br>
    <!-- You can now combine a row and column if you just need a 12 column row -->
    <div class="row columns">
      <nav aria-label="You are here:" role="navigation">
        <ul class="breadcrumbs">
          <li><%= link_to 'Главная', store_index_path %></li>
          
          <li>
            <span class="">Моя корзина</span> 
          </li>
        </ul>
      </nav>
    </div>
<div class="small-12 small-centered large-7 large-centered column">
  <h2>Корзина</h2>
  <table class="text-center responsive">
         <thead >
        <tr>
          <th class="text-center">Кол-во</th>
          <th class="text-center">Фото</th>
          <th class="text-center">Модель</th>
          <th class="text-center">Фасон</th>
          <th class="text-center">Размер</th>
          <th class="text-center">Цена</th>
          <th class="text-center">Убрать</th>
        </tr>
     </thead>
    <%= render(cart.line_items) %>
     <tr class="">

       <td colspan="1">Всего</td>

       <td colspan="4"></td>
       <td colspan="1"><%= cart.total_price %> руб.</td>
        <td colspan="1"></td>
     </tr>
   </body>
  </table>
  <%= button_to "Перейти к оплате", new_order_path, method: :get, class: "button expand add-to-cart" %>
</div>