
<br>
    <!-- You can now combine a row and column if you just need a 12 column row -->
    <div class="row columns">
      <nav aria-label="You are here:" role="navigation">
        <ul class="breadcrumbs">
          <li><%= link_to 'Главная', store_index_path %></li>
          
          <li>
            <span class="">Моя корзина</span> 
          </li>
        </ul>
      </nav>
    </div>
<div class="small-12 small-centered large-7 large-centered collumn">
<h2>Корзина</h2>
<table class="">
       <thead>
      <tr>
        <th >Фото</th>
        <th >Кол-во</th>
        <th >Модель</th>
        <th >Фасон</th>
        <th >Размер</th>
        <th >Цена</th>
        <th >Убрать</th>
      </tr>
   </thead>
  <%= render(cart.line_items) %>
   <tr class="">
     <td colspan="2">Всего</td>
     <td ></td>
     <td ></td>
     <td ></td>
     
     <td class=""><%= number_to_currency(cart.total_price) %></td>
     <td ></td>
   </tr>
 </body>
</table>
<%= button_to "Перейти к оплате", new_order_path, method: :get, class: "button expand add-to-cart" %>
</div>