// Place all the styles related to the landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// For Three landing page


// Animated infocard

$menu-icon-size: 4rem;
$menu-icon-color: #333;
$menu-link-height: 6.25rem;
$menu-link-color: #fff;
$menu-link-border: 1px solid rgba(255,255,255, .5);

.menu_container{
  height:100vh;
}
.menu_three {
    font-size: 1.5rem;
    height: 33%;
    border-bottom: $menu-link-border;
}
.blog{
    background: image-url("IMG_3804.jpg") no-repeat center center;
    background-size: contain; 
  a {
      display: block;
      color: #white;
      font-weight: bold;
      height: 100%;
      line-height: 15rem;
      text-decoration: none;

      
      &:hover {
        background-color: transparent(dodgerblue, 3%);
      }
  }
}
.store{
    background: image-url("dasha.jpg") no-repeat center center;
    background-size: contain;

  a {
      display: block;
      color: #white;
      font-weight: bold;
      height: 100%;
      line-height: 15rem;
      text-decoration: none;

      
      &:hover {
        background-color: transparent(dodgerblue, 3%);
      }
  }

}

.individ {
    background: image-url("IMG_3777.JPG") no-repeat center center;
    background-size: contain; 
  a {
      display: block;
      color: #white;
      font-weight: bold;
      height: 100%;
      line-height: 15rem;
      text-decoration: none;

      
      &:hover {
        background-color: transparent(dodgerblue, 3%);
      }
  }
}



// Hero


.hero1 {
  background: image-url("01.jpg") no-repeat center center;
  background-size: cover;
  height: 70vh;
  margin-bottom: 0rem;
}
.hero2 {

  height: 18vh;

}

.circle-bg {
  margin-top: -2rem;
  text-align: center;
  opacity: 0.9;
  border-radius: 50%;
  height: 10rem;
  width: 10rem;
  @media only screen and (min-width: 64.063em) {
    margin: 0 auto;
    margin-top: 2rem;
    height: 13rem;
    width: 13rem;
  }
  p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

#text_circle {
color: #000;
}
.quote-1 {
  @extend .circle-bg;
  background: #B5B5B7;
  color: #fff;
  z-index: 9999999;
  position: relative;
  @media only screen and (min-width: 64.063em) {
    margin-right: 10rem;

  }
}

.quote-2 {
  @extend .circle-bg;
  background: #F6CECE;
  p {
    padding: 2rem;
  }
}


// Mobile-First Product Benefits

.benefits{
    margin-top: 20px;
hr{
    width: 70%;
    border: 1px solid #ccc;
  }
  h5{
    font-weight: 300;
  }
  p{
    color: #666;
    font-weight: 370;
  }
  .benefit{
    margin-top: 30px;
  }
  
  .icon{
    font-size: 40px;
    color: #666;
  }
  }
 // testimonial

 h2 {
  margin-top: 20px;
  font-weight: 200;
  color: #333;
}

.centered-text {
  text-align: center;
}

.quote-marks {
  font-size: 100px;
  font-family: Garamond;
  color: #777;
}

.move-right {
  position: relative;
  text-align: right;
}

.quote {
  border-radius: 5px;
  p {
    font-weight: 300;
  }
}

@media only screen and (max-width: 40em) {
  .quote p {
    padding-left: 20px;
  }
}

.student {
  margin-left: 25px;
  margin-bottom: 80px;
  .photo {
    background-color: #ccc;
    border-radius: 100px;
    width: 70px;
    height: 70px;
    float: left;
    margin-right: 15px;
  }
  p {
    position: relative;
    top: 5px;
    &:nth-child(2) {
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 0;
    }
    &:nth-child(3) {
      font-size: 14px;
      font-weight: 400;
      color: #777;
    }
  }
}

// Profile cards
.profile-card {
  padding: 1rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin: 2rem 0;
  background-color: #fff;
  img {
    width: 20rem;
    display: block;
    margin: 2rem auto;
    text-align: center;
    
    
  }
  .profile-info {
    padding: 1rem;
    h4 {
      margin-top: 0;
      text-align: center;
      text-transform: uppercase;
    }
    h3 {
      margin-top: 0;
      text-align: center;
      text-transform: uppercase;
    }
    p {
      text-align: center;
    }
    .inline-list {
      text-align: center;
      margin-bottom: 1rem;
      li {
        float: none;
        display: inline-block;
      }
      i.fi-social-facebook {
        font-size: 1.5rem;
        color: #3b5998;
        &:hover {
          transform: scale(1.5);
          transition: all .5s ease-in-out;
        }
      }
      i.fi-social-twitter {
        font-size: 1.5rem;
        color: #55acee;
        &:hover {
          transform: scale(1.5);
          transition: all .5s ease-in-out;
        }
      }
      i.fi-social-linkedin {
        font-size: 1.5rem;
        color: #0077b5;
        &:hover {
          transform: scale(1.5);
          transition: all .5s ease-in-out;
        }
      }
      i.fi-social-github {
        font-size: 1.5rem;
        color: #333;
        &:hover {
          transform: scale(1.5);
          transition: all .5s ease-in-out;
        }
      }
      i.fi-social-youtube {
        font-size: 1.5rem;
        color: #cc181e;
        &:hover {
          transform: scale(1.5);
          transition: all .5s ease-in-out;
        }
      }  
    }
  }
}