// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Ilya commit
.product__button{
	width: 164px;
}
#size_id {
	font-size: 14px;
}
.product__size-description{
	margin-bottom: 7px;
}