// Place all the styles related to the Store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Ilya button commit
.show-more {
  text-align:center;
}
.show-more-add {
  text-align:center;
}


.show-more1 {
  text-align:center;
}
.show-more2 {
  text-align:center;
}
.show-more3 {
  text-align:center;
}

.show-more__button {
  color: #888;
}
.show-more__button:hover {
  color: black;
}

//

.products-grid {
  .product-card {
    width:220px;
    margin:auto;
    .poster img {
      height: 325px;
      width:100%;
    }
    .product-info { .title { height: 4em; } }
  }
}

$primary-color: #008cba;

.item-wrapper {
  padding: 5px;
  border: 2px solid #efefef;
  border-radius: 7px;
  margin-top: 10px;
  
  &:hover {
    .img-wrapper {
      img { -webkit-filter: grayscale(0); }
      
      .add-to-cart { bottom: 0; }
    }
  }
}

.img-wrapper {
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;

  .add-to-cart {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    background-color: #333;
    padding: 16px 8px;
    bottom: -50px;
    position: absolute;
    z-index: 2;
    color: #fff;
    margin: 0 auto;
    border: none;
    box-shadow: none;

    &:hover { background-color: $primary-color; }
  }

  img {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -webkit-filter: grayscale(1);
    width: 100%;
  }
}  

h3 { font-size: 22px; }
h5 { font-weight: bold; }

p {
  color: #888;
  font-size: 13px;
  margin-bottom: 0;
}



