<div class="row">
	<div class="form-container medium-centered small-10 small-centered medium-6 large-6 columns">
		<h1>Новая кампания</h1>

		<%= render 'form' %>

		<%= link_to 'Back', user_products_path %>
	</div>
</div>