<% content_for :title, "О нас" %>   

		
		<!-- Slider
		============================================= -->
		<section id="slider">

			<div class="section parallax swiper_wrapper nopadding nomargin noborder ohidden" style="background-image: url('/assets/IMG_4746.JPG');" data-stellar-background-ratio="0.3">

				<div class="container center">
					<div class="vertical-middle">

						<div class="emphasis-title">
							<h1 class="t600 ls4 uppercase bottommargin-sm" style="font-size: 48px;">Блог <span class="nocolor hidden-xs">/</span> Паблик <span class="nocolor hidden-xs">/</span> Канал <span class="nocolor hidden-xs">/</span> Ресурс</h1>
							<p class="lead">Закрываем вопросы с мерчом под ключ</p>
						</div>
						<a href="#" class="button button-dark t400 ls2 button-rounded" data-scrollto="#section-contact" data-easing="easeInOutExpo" data-speed="1250" data-offset="70">Свяжитесь с нами</a>
						<a href="#" class="button button-border button-rounded" data-scrollto="#section-works" data-easing="easeInOutExpo" data-speed="1250" data-offset="70">Наши работы</a>

					</div>
				</div>

				<div class="video-wrap">
					<div class="video-overlay" style="background: rgba(255,255,255,0.8);"></div>
				</div>

			</div>

		</section><!-- #slider end -->



		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">

				<div class="container clearfix">









					<div class="col_full nobottommargin clearfix">
						<div  class="heading-block title-center page-section">
							<h2 class="divcenter bottommargin font-body" style="max-width: 700px; font-size: 40px;">Индивидуальный подход</h2>

							<p class="lead divcenter bottommargin" style="max-width: 800px;">Создаем вместе с Вами мерч премиум качества</p>
							
						</div>

						<div class="masonry-thumbs col-6" id="section-works" data-big="3" data-lightbox="gallery">
							<% @product.each_with_index do |product,index| %>
							<% if index < 13 %>
							<a href="" data-lightbox="gallery-item">
							<%= image_tag product.images.first.photo(:thumb), alt: "Gallery Thumb " %></a>
							<% end %>
							<% end %>
							

						</div>

					</div>
				<div id="section-contact" class="page-section notoppadding">



					<div class="container clearfix">

						<div class="divcenter topmargin" style="max-width: 850px;">

							<div class="contact-widget">

								<div class="contact-form-result"></div>

								<%= render 'bloggers/form' %>


							</div>

						</div>

					</div>





	


				</div>

			</div>

		</section><!-- #content end -->

