<div class="row" style="min-height:50vh;">
  <div class="construction">
    <h2>
      Раздел находится в разработке
    </h2>
    <%= image_tag 'brush.jpg', size: "150x100", class: "" %>
  </div>
</div>