<div class="row" style="min-height:45vh;">
  <div class="small-8 medium-6 large-5 small-centered columns">

    <div class="header1 panel1">
      <div class="sign1">
        <h1>Спасибо за заказ</h1>
      </div>
      <p><span>Уважаемый клиент!</span> <br>Спасибо за заказ на нашем ресурсе.</p>
    </div>
  
  </div>
</div>