<% content_for :title, "Подтверждение заказа" %>   
  <div class="heading-block center nobottomborder"  class="column large-10 large-centered ">

    <div class="header1 panel1">
      <div class="sign1">
      	<br/>
        <h1>Спасибо за заказ</h1>
      </div>
      <p><span>Уважаемый клиент!</span> <br>Спасибо за заказ на нашем сайте.</p>
    </div>

</div>