<% content_for :title, "Контакты" %>   
 
 <div class="row" style="min-height: 50vh;">
  <div class="heading-block center nobottomborder"  class="column large-10 large-centered ">
  <h3>Свяжитесь с нами!</h3>

    <span> <br>  Мы работает по будням с 10 утра и до 7 вечера
       

        Тел: +79250979250
        <br>  <br> order@teelab.ru - email для всех вопросов связанных с заказами 
       collaboration@teelab.ru - email для всех вопросов касающихся сотрудничества с нами, как блоггеров, так и других компаний.
        <br>  <br> <h3> Карта</h3>  
         <br>  <br> <p>
        <a href="" data-reveal-id="mapModal"><%= image_tag 'map.jpg'%></a><br />
       </a>
      </p>  <br>  <br> Москва<br />
        Нижний Кословский пер дом 5 стр 1 </span> 
  

  </div>
</div>
  <!-- Main Page Content and Sidebar -->
 
  
 
 
  