<% content_for :title, "Оферта для блоггеров" %>   
<br>

  <div class="heading-block center nobottomborder"  class="column large-10 large-centered ">
  <h3>Мы предлагаем блоггерам коллаборацию</h3>

    <span>Коллаборация с нами - это сотрудничество на основе разделения прибыли от реализации продукта. Участие блоггера заключается в создании дизайна своего продукта и донесения информации о нем своей аудитории. Teelab.ru предоставляет сервис по производству, доставке и финансовому регулированию всего процесса создания и реализации продукта. Размер прибыли с каждой единицы товара в зависимости от количества потенциальных продаж устанавливает после утверждения и производства образца.</span>
  </div>

<br>