<% content_for :title, "Цены" %>   
<br>
<div class="row" style="min-height: 50vh;">
  <div class="column large-10 large-centered ">
  <h3>Наша ценовая политика</h3>
  <table class="responsive">
    <thead>
      <tr>
        <th ></th>
        <th>Футболка</th>
        <th >Свитшот</th>
        <th >Толстовка</th>
        <th >Cropshirt</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Бланковая (без нанесений)</td>
        <td>1000 руб.</td>
        <td>2900 руб.</td>
        <td>3500 руб.</td>
        <td>2000 руб.</td>
      </tr>
      <tr>
        <td>Образец, когда вы делаете с нами коллаборацию</td>
        <td>900 руб.</td>
        <td>2500 руб.</td>
        <td>3000 руб.</td>
        <td>1800 руб.</td>
      </tr>

    </tbody>
  </table>

    <p>По вопросам условий коллаборации напишите нам на collaboration@teelab.ru, либо свяжитесь по тел. +7 925-704-01-81</p>
  </div>
</div>
<br>