
<footer class="footer">
  <div class="row">
    <div class="small-12 medium-6 large-5 columns">
      <p class="logo"><i class="fi-shield"></i>Teelab</p> 
      <p class="footer-links">
        <a href="#">О нас</a>
        <a href="#">Блог</a>
        <a href="#">Ценовая политика</a>
        <a href="#">Оферта</a>
        <a href="#">Контакты</a>
      </p>
      <p class="copywrite">Teelab.ru © 2016</p>
    </div>
    <div class="small-12 medium-6 large-4 columns">
      <ul class="contact">
        <li><p><i class="fi-marker"></i>Трехгорная Мануфактура 15/1</p></li>
        <li><p><i class="fi-telephone"></i>+7-925-704-01-81</p></li>
        <li><p><i class="fi-mail"></i>orders@teelab.ru<p>collaboration@teelab.ru</p></li>
      </ul>
    </div>
    <div class="small-12 medium-12 large-3 columns">
      <p class="about">О Teelab.ru</p>
      <p class="about subheader">Даем людям чуть больше возможностей для творчества</p>
      <ul class="inline-list social">
        <a href="#"><i class="fi-social-instagram"></i></a>
        <a href="#"><i class="fi-social-facebook"></i></a>
        
      </ul>
    </div>
  </div>
</footer>